@font-face {
    font-family: Manrope-Bold ;
    src: url(/fonts/Manrope-Bold.ttf);
}
@font-face {
    font-family: Manrope-Regular ;
    src: url(/fonts/Manrope-Regular.ttf);
}
@font-face {
    font-family: Manrope-SemiBold;
    src: url(/fonts/Manrope-SemiBold.ttf);
}
html {
    box-sizing: border-box;
}
*, *::after,::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none ;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 18px;
    background: linear-gradient(to right, #f0f3f5, #e6ebf0,#e6ebf0);
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}
.header__inner {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.menu__list {
    display: flex;
    gap: 35px;
    font-size: 14px;
    font-family: Manrope-Bold, sans-serif;
    color: #07172e;
}
.menu__list-link {
    text-transform: uppercase;
}
.user__list {
    gap: 20px;
    display: flex;
    justify-content: space-between;
}
.user__list-link {
    background-color: #f1f4f8;
    align-items: center;
    display: flex;
    border-radius: 50%;
}
.user__img {
    border-radius: 50%
}
.head__screen {
    display: flex;
    padding-top: 120px;
    justify-content: space-between;
}
.head__text {
    padding-top: 40px;
}
.head__text-title {
    font-size: 52px;
    font-family: Manrope-Bold, sans-serif;
    font-weight: 500;
    line-height: 60px;
    color: #07172e;
}
.head__text-subtitle {
    font-family: Manrope-Regular, sans-serif;
    line-height: 27px;
    padding-top: 18px;
    padding-bottom: 54px;
    color: #3c4148;
}
.button__radius {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 258px;
    border:1px solid #3586ff;
    border-radius: 10px;
}
.button {
    height: 56px ;
    width: 250px;
    background-color: #3586ff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Manrope-SemiBold, sans-serif ;
    color: #f1f4f8;
    font-size: 16px;
}
.choice-course {
    display: flex;
    padding-top: 150px ;
    margin: 0 auto;
    flex-direction: column;
}
.choice-course__title {
    font-family: Manrope-Bold, sans-serif;
    text-align: center;
    font-size: 42px;
    color: #07172e;
    padding-bottom: 70px;
    font-weight: 500;
}

.choice-course__container {
    display: flex;
    justify-content: space-between;
}
.choice-course__container-inner {
    display: flex;
    width: 360px ;
    height: 300px ;
    background-color: #f1f4f8;
    border-radius: 8px;
    flex-direction: column;
}
.choice-course__img {
    padding-top: 10px;
    margin: 0 auto;
}
.choice-course__subtitle {
    text-align: center;
    font-family: Manrope-Bold, sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding-top: 10px;
    color: #07172e;
}
.button__center {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 150px;
}
.try-free__container {
    max-width: 492px;
    max-width: 1160px;
    background-image: url(/img/5.jpg);
    border-radius: 20px;
    padding-left: 120px;
    padding-bottom: 106px;
    background-repeat:no-repeat;
}
.try-free__container-title {
    padding-top: 154px;
    padding-bottom: 10px;
    font-size: 42px;
    font-family: Manrope-Bold, sans-serif;
    color: #07172e;
}
.try-free__container-subtitle {
    font-family: Manrope-Regular, sans-serif;
    max-width: 540px ;
    padding-bottom: 55px;
    color: #3c4148;
}
.service-card {
    padding-top: 150px;
}
.service-online__course {
    display: flex;
    justify-content: space-between;
    padding-bottom: 81px;
}
.online-course {
    font-family: Manrope-SemiBold, sans-serif ;
    font-size: 16px;
    color: #07172e;
}
.service-online__course-block-img {
    border-radius: 20px;
}
.service-online__course-info {
    display: flex;
    flex-direction: column;
    width: 560px;
}
.service-online__course-title {
    font-family: Manrope-Bold, sans-serif;
    font-size: 42px;
    color: #07172e;
    line-height: 42px;
    padding-bottom: 20px;
}
.service-online__course-subtitle {
    font-family: Manrope-Regular, sans-serif;
    color: #3c4148;
    line-height: 27px;
}
.service-online__course-information {
    display: flex;
    justify-content: space-between;
    padding-top: 40px ;
    align-items: center;
    padding-bottom: 40px;
}
.service-online__course-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    width: 260px;
    background-color: #f1f4f8 ;
    border-radius: 10px;

}
.service-online__course-text {
    font-family: Manrope-SemiBold, sans-serif;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    column-gap: 5px;
    padding: 0 10px;
}
.service-online__course-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-online__course-cost {
    font-family: Manrope-bold, sans-serif;
    color: #07172e;
    font-size: 42px;
}
.service-online__course-list {
    display: flex;
    justify-content: space-between;
    max-width: 560px;
}
.service-online__course-list__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 48px;
    background-color: #f1f4f8;
    border-radius: 10px;
    font-family: Manrope-SemiBold, sans-serif;
    font-size: 16px;
}
.service-online__course-list__button.blue {
    background-color: #3586ff;
    color: #f1f4f8;
}
.service-online__course-list__treners {
    display: flex;
    justify-content: space-between;
    padding-top: 39px;
    padding-bottom: 150px;
}
.service-online__course-list__treners-text.block {
    width: 260px;
    height: 275px;
    background-color: #f1f4f8;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.service-online__course-list__treners-text {
    width: 260px;
    height: 275px;
    font-family: Manrope-Regular, sans-serif;
    font-size: 16px;
    color: #3c4148;
}
.service-online__course-list__treners-img1 {
    object-fit: cover;
    width: 109px;
    height: 210px;
    object-position: 20% -40%;
}
.service-online__course-list__treners-img2 {
    object-fit: cover;
    width: 166px;
    height: 210px;
    object-position: 20% -40%;
}
.service-online__course-list__treners-img3 {
    object-fit: cover;
    width: 196px;
    height: 210px;
    object-position: 20% -40%;
}
.service-online__course-list__treners-title {
    padding-top: 15px;
    font-size: 16px;
    font-family: Manrope-SemiBold, sans-serif;
    color: #07172e;
}
.service-online__course-list__treners-subtitle {
    font-size: 12px;
    font-family: Manrope-Regular, sans-serif;
    color: #3c4148;
}
.about-us {
    padding-top: 150px;
    padding-bottom: 138px;
    background-color: #f1f4f8;
}
.about-us__container {
    display: flex;
    justify-content: space-between;
}
.about-us__text-title {
    font-family: Manrope-Bold, sans-serif;
    font-size: 42px;
    line-height: 42px;
    padding-bottom: 20px;
}
.about-us__text-subtitle {
    font-family: Manrope-Regular, sans-serif;
    font-size: 18px;
    padding-bottom: 70px;
}
.about-us__block-img {
    border-radius: 15px;
}
.about-us__text {
    max-width: 500px;
}
.how-it-work__list {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    padding-bottom: 150px;
}
.how-it-work__list-number {
    height: 30px ;
    width: 60px ;
    background-color: #3586ff;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Manrope-Semibold, sans-serif;
    color: #f1f4f8;
}
.how-it-work__title {
    font-family: Manrope-Bold, sans-serif;
    color: #07172e;
    font-size: 42px;
    line-height: 42px;
    padding-bottom: 70px;
    padding-top: 150px;
    text-align: center;
}
.how-it-work__list-title {
    padding-top: 20px;
    font-family: Manrope-Semibold, sans-serif;
    color: #07172e;
    font-size: 18px;
}
.how-it-work__list-subtitle {
    color: #3c4148;
    font-family: Manrope-Regular, sans-serif;
    font-size: 16px;
    padding-top: 10px;
    line-height: 20px;
}
.container.form {
    border-radius: 20px;
    background-color: #f1f4f8;
    background: linear-gradient( to left top, rgba(240, 243, 245, 1), rgba(240, 243, 245, 1), rgba(255, 255, 255, 1) );
}
.personal-plan__container{
    padding-top: 150px;
}
.form__container {
    display: flex;
    max-width: 640px;
    margin: 0 auto;
    padding: 0 10px;
    flex-direction: column;
    padding-top: 150px;
}
.form-title {
    font-size: 42px;
    font-family: Monrope-Bold, sans-serif;
    text-align: center;
    line-height: 42px;
    color: #07172e
}
.form-subtitle {
    font-size: 18px ;
    font-family: Manrope-Regular, sans-serif;
    line-height:18px ;
    padding-top: 30px;
    color: #3c4148;
    text-align: center;
}
.form__main {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.form__main-field {
    display: flex;
    flex-direction: column;
}
.field-input {
    padding: 0 10px;
    display: block;
    width: 260px;
    height: 50px;
    font-family: inherit;
    font-weight: 400;
    color:#3c4148;
    font-family: Manrope-Bold,sans-serif;
    background-color: #f1f4f8;
    background-clip: padding-box;
    border: 2px solid #d6dce0;
    border-radius: 4px;
}
.name-input {
    color: #3c4148 ;
    font-family: Manrope-Regular, sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
}
.field-input.email  {
    width: 570px;
}
.form__second {
    display: flex;
    max-width: 570px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
}
.rate {
    width: 570px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.form__choice {
    display: flex;
    padding-bottom: 25px;
    gap: 19px;
    align-items: center;
    flex-wrap: wrap;
}
.name-imput.choice {
    cursor: pointer;
    font-family: Manrope-Bold,sans-serif;
    font-size:14px ;
}
.button__center.form {
    padding-top: 20px;
    padding-bottom: 25px;
}
.footer {
    padding-top: 50px;
    padding-bottom: 200px;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright-text {
    font-family: Manrope-Regular, sans-serif;
    font-size: 12px;
}
.link-social {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.right {
    font-family: Manrope-Regular, sans-serif;
    font-size: 12px;
    text-decoration: underline;
}